@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>
        Welcome to track your spendings over the time
        <br/>
        We evaluate and showcase your spendings
    </p>
</div>